<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<!-- Connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost/acbstats</property>
		<property name="connection.username">acb</property>
		<property name="connection.password">hibernate</property>
		<!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
 
        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>
 
        <!-- Drop and re-create all database on startup -->
        <!-- property name="hibernate.hbm2ddl.auto">create-drop</property -->
 
        <!-- Annotated entity classes -->
        <mapping class="org.hecarap.acbstats.modelo.PartidoJugador"/>
        <mapping class="org.hecarap.acbstats.modelo.Jugador"/>
        <mapping class="org.hecarap.acbstats.modelo.Partido"/>
    </session-factory>
</hibernate-configuration>
